/*
  All of the stuff below was there already.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  End of the stuff that was there already.
*/

button {
  /*display: inline-block;*/
  padding: 10px;
  margin-bottom: 30px;
  /*margin-left: auto;
  margin-right: auto;*/
  width: 75px;
}

label {
  padding-left: 10px;
}

#buttonsAndDescriptionsDiv {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  /*border: 3px solid black;*/
}

#shield {
  background-color: darkolivegreen;
}

#magic {
  background-color: royalblue;
}

#sword {
  background-color: firebrick;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 80%;
}

a {
  color: black;
}

#whereIsTheOtherDiv {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 330px;
  /*padding-bottom: 10%;*/
  background-color: saddlebrown;
}

main {
  background-color: wheat;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  padding-bottom: 10px;
  text-align: center;
}
