/*
  All of the stuff below was there already.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  End of the stuff that was there already.
*/

main {
  background-image: url(MeanderBorder40px.png);
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#whereIsTheOtherDiv {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 330px;
  background-color: saddlebrown;
}

h1 {
  padding-bottom: 10px;
  text-align: center;
}

#buttonsAndDescriptionsDiv {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

button {
  padding: 10px;
  width: 75px;
  background-color: wheat;
}

#shield {
  background-color: darkolivegreen;
  margin-bottom: 30px;
}

#magic {
  background-color: royalblue;
  margin-bottom: 30px;
}

#sword {
  background-color: firebrick;
  margin-bottom: 30px;
}

label {
  padding-left: 10px;
  padding-right: 40px;
}

#healthAndTurnInfoDiv {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

#playerOneHealth {
  float: left;
}

#computerHealth {
  float: right;
}

p {
  text-align: center;
}

/* #NewGameDiv was here */

a {
  color: black;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 80%;
}

@media only screen and (max-width: 1024px) {
  main {
    background-image: url(MeanderBorder10px.png);
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #whereIsTheOtherDiv {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #buttonsAndDescriptionsDiv {
    width: 320px;
  }

  label {
    padding-right: 0px;
    padding-left: 5px;
  }

  #healthAndTurnInfoDiv {
    width: 320px;
  }
}
